<p>
  <strong><%= @user.name %></strong>
</p>

<p>
  <strong>Flickr:</strong>
  <%= @user.flickr_id %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @user.desc %>
</p>

<p>
  <% if @user.cats.exists? %>
      <strong>Cats:</strong>
      <% @user.cats.each do |cat| %>
          <%= link_to cat, cat %>
      <% end %>
  <% end %>
</p>


<p>
  <% if @user.pics.exists? %>
      <strong>Pics:</strong>
      <% @user.pics.each do |pic| %>
          <%= link_to pic, pic %>
      <% end %>
  <% end %>
</p>

<p>
  <% if @user.posts.exists? %>
      <strong>Posts:</strong>
      <% @user.posts.each do |post| %>
          <%= link_to post, post %>
      <% end %>
  <% end %>
</p>

<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Delete user', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', users_path %>
