<h1>Listing pics</h1>

<table>
  <thead>
    <tr>
      <th>Header</th>
      <th>Date</th>
      <th>Desc</th>
      <th>Exif</th>
    </tr>
  </thead>

  <tbody>
    <% @pics.each do |pic| %>
      <tr>
        <td><%= link_to pic.header, pic %></td>
        <td><%= pic.date %></td>
        <td><%= pic.desc %></td>
        <td><%= pic.exif %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Pic', new_pic_path %>
