<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @pic.user_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @pic.url %>
</p>

<p>
  <strong>Header:</strong>
  <%= @pic.header %>
</p>

<p>
  <strong>Date:</strong>
  <%= @pic.date %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @pic.desc %>
</p>

<p>
  <strong>Exif:</strong>
  <%= @pic.exif %>
</p>

<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
