<p id="notice"><%= notice %></p>


<p>
  <img src="<%= @pic.url %>">
</p>

<p>
  <strong>User:</strong>
  <%= @pic.user_id %>
</p>

<p>
  <strong>Header:</strong>
  <%= @pic.header %>
</p>

<p>
  <strong>Date:</strong>
  <%= @pic.date %>

<p>
  <strong>Desc:</strong>
  <%= @pic.desc %>
</p>

<p>
  <strong>Exif:</strong>
  <%= @pic.exif %>
</p>
<% unless !current_user %>
    <% if @pic.user_id == current_user.id %>
        <%= link_to 'Edit', edit_pic_path(@pic) %> |
        <%= link_to 'Remove pic', @cat, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<% end %>
    <%= link_to 'Back', pics_path %>
