
<div class="row">
  <div class="col-md-9">

    <h1><%= @post.title %></h1> by <%= link_to @post.user, @post.user %>

    <p><%= @post.text %></p>
  </div>
  <div class="col-md-3">
    <img src="<%= @pics.find(@post.pic_id).url %>" alt="..." class="img-responsive img-thumbnail">
  </div>

</div>


<% unless !current_user %>
    <% if @post.user_id == current_user.id %>
        <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary" %>
        <%= link_to 'Delete post', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  %>
    <% end %>
<% end %>