<h1>Listing cats</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Breed</th>
      <th>Gender</th>
      <th>Color</th>
      <th>Coat</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= link_to cat.name, cat %></td>
        <td><%= cat.age %></td>
        <td><%= cat.breed %></td>
        <td><%= cat.gender %></td>
        <td><%= cat.color %></td>
        <td><%= cat.coat %></td>
        <td><%= cat.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cat', new_cat_path %>
