<%# add navigation links to this file %>


<li><%= link_to 'Cats', cats_path %></li>
<li><%= link_to 'Pics', pics_path %></li>
<li><%= link_to 'Posts', posts_path %></li>
<li><%= link_to 'Users', users_path %></li>
<% if not current_user.nil? %>
    <li><%= link_to current_user.name, current_user %></li>
    <li><%= link_to 'signout', signout_path, method: :delete %></li>
<% else %>
    <li><%= link_to 'signin', signin_path %></li>
    <li><%= link_to 'signup', signup_path %></li>
<% end %>
