<!DOCTYPE html>
<html>
<head>
  <title>Catpic</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>


<div class="navibar">
  <%= link_to 'cats', cats_path %>
  <%= link_to 'users', users_path %>
  <%= link_to 'posts', posts_path %>
  <%= link_to 'pics', pics_path %>
</div>

<%= yield %>

</body>
</html>
